
*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}

body {
    margin: 0;
    padding: 0;
    inline-size: 100%;
    block-size: 100vh;
    overflow: scroll;
}

.container {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-inline-size: 111.0rem;
}
