@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import './header/header.css';
@import './report-card/report-card.css';
@import './content/content.css';
@import './user-card/user-card.css';

:root {
    /* style fonts */
    --font-base: 'Spartan', sans-serif;
    --headline1: 700 4.8rem/4.8rem var(--font-base); /* letter-spacing: -0.171rem; */
    --headline2: 700 3.2rem/3.2rem var(--font-base); /* letter-spacing: -0.114rem; */
    --headline3: 700 1.3rem/1.5rem var(--font-base); /* letter-spacing: 0 px; */
    --headline4: 400 1.3rem/1.5rem var(--font-base); /* letter-spacing: 0 px; */
    --body1: 500 1.5rem/2.5rem var(--font-base); /* letter-spacing: -0.05rem; */
    --body2: 500 1.3rem/2.2rem var(--font-base); /* letter-spacing: -0.023rem; */

    /* colors */
    --headline-color1: hsl(301, 44%, 22%);
    --headline-color2: hsla(334, 80%, 67%);
    --headline-color3: hsla(0, 0%, 100%);
    --body-color1: hsla(301, 10%, 53%);
    --body-color2: hsla(0, 0%, 100%);
    --background-color1: hsla(301, 23%, 96%);
}


*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}

body {
    margin: 0;
    padding: 0;
    inline-size: 100%;
    block-size: 100vh;
    overflow: scroll;
    padding-inline-start: 2.4rem;
    padding-inline-end: 2.4rem;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 4.9rem;

    max-inline-size: 111.0rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
